@import url('https://fonts.googleapis.com/css?family=Muli:600|Oxygen:300&display=swap');
body{
	background-image:
	linear-gradient(to bottom, rgba(30 , 7,  9, 0.7), rgba(30 , 7,  9, 0.7)),
	url('bg.jpg');
	background-size: cover;
	width: 80%;
	height: 300px
}

#capa {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 6%;
}

#user-img {
	margin-top: 11%;
}

p {
	/*color: #FEE300;*/
	color: #fff; 
    font-family: 'Oxygen', sans-serif;
    font-size: 14pt;
}

h4 {
	color: #fff; 
    font-family: 'Oxygen', sans-serif;
}

.icons {
	margin-top: 10%;
	padding-right: 33px;
}

.icons p {
	margin-left: 23px;
}

.icons i {
	text-align: center;
	margin-left: 20px;
	color: #fff;
	font-size: 27pt;
}